<main class="container">
  <form method="POST" class="default-form">
    <div class="field">
      <label>Nuevo Password</label>
      <input type="password" name="password" placeholder="Nuevo Password" required>
    </div>

    <div class="field">
      <input type="submit" value="Guardar Password" class="btn btn-blue">
    </div>
  </form>
</main>
