<main class="container">
  <form action="/reset-password" method="POST" class="default-form">
    <div class="field">
      <label>E-mail</label>
      <input type="email" name="email" placeholder="Tu Email" required>
    </div>

    <div class="field actions">
      <a href="/sign-in">Volver a Iniciar Sesión</a>
    </div>

    <div class="field">
      <input type="submit" value="Restablecer Password" class="btn btn-blue">
    </div>
  </form>
</main>
