<main class="container">
  <form action="/sign-in" method="POST" class="default-form">
    <div class="field">
      <label>E-mail</label>
      <input type="email" name="email" placeholder="Tu Email" required>
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Tu Password" required>
    </div>

    <div class="field actions">
      <a href="/sign-up">Crea una Cuenta</a>
      <a href="/reset-password">Olvidé mi password</a>
    </div>

    <div class="field">
      <input type="submit" value="Iniciar Sesión" class="btn btn-blue">
    </div>
  </form>
</main>
