<main class="container">
  <form action="/sign-up" method="POST" class="default-form">
    <div class="field">
      <label>Nombre</label>
      <input type="text" name="name" placeholder="Tu Nombre">
    </div>

    <div class="field">
      <label>E-mail</label>
      <input type="email" name="email" placeholder="Tu E-Mail">
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Tu Password">
    </div>

    <div class="field">
      <label>Repetir Password</label>
      <input type="password" name="confirm" placeholder="Repetir Password">
    </div>

    <div class="field actions">
      <a href="/sign-in">Volver a Iniciar Sesión</a>
    </div>

    <div class="field">
      <input type="submit" value="Crear Cuenta" class="btn btn-blue">
    </div>
  </form>
</main>
