<h1 style="text-align:center; font-family: Arial, Helvetica;">
  Confirmar cuenta
</h1>

<p style="font-family: Arial, Helvetica;">
  Hola, has creado una cuenta en la plataforma devJobs, para poder continuar
  utilizando la aplicación te solicitamos que nos confirmes que este es el e-mail
  que utilizaste para crear la cuenta. Solamente debes de hacer click en el siguiente
  enlace y podrás confirmar tu cuenta.
</p>

<a style="display: block; font-family: Arial, Helvetica; padding: 1rem; background-color: #00C897; color:white; text-transform:uppercase; text-align:center; text-decoration: none;"
  href="{{confirmationUrl}}">
  Confirmar cuenta
</a>

<p style="font-family: Arial, Helvetica;">
  Si no puedes acceder a este enlace, visita: {{confirmationUrl}}
</p>

<p style="font-family: Arial, Helvetica;">
  Si tu no creaste esta cuenta, te sugerimos que investigues el uso indebido de tu
  cuenta de correo.
</p>
